<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <section style="margin-left:3rem; height: 100vh; margin-top: 10rem">
            <div class="row">
                <div class="col-sm-8">
                    <p style="color: #FF565E; display: flex; align-items: center; justify-content: center; ">one
                        Solution for your Image
                        Encryption</p>
                    <br>
                    <button class="btn btn-dark btn-lg" onclick="location.href= '/output/'">Get Started</button>
                </div>
                <div class="col-sm-4">
                    <img width="450px" height="auto" src="../static/img/Ninja_prev_ui.png" alt="" srcset="">
                </div>
            </div>
        </section>
        <section style="margin-left:3rem; height: 70vh">
            <div class="row">
                <div class="col-sm-5">
                    <img width="450px" height="auto" src="../static/img/target.png" alt="" srcset="">
                </div>
                <div class="col-sm-7">
                    <p style="display: flex; align-items: center; justify-content: center; ">with high and multi layer
                        security</p>

                    Not easy to break
                </div>
            </div>
        </section>
        <section style="margin-left:3rem; margin-top: 10rem; height: 80vh">
            <div class="row">
                <div class="col-sm-7">
                    <p style="color:#6395FE; display: flex; align-items: center; justify-content: center; ">and did we
                        mention that you can perform decryption at the fastest</p>
                </div>
                <div class="col-sm-5">
                    <img width="450px" height="auto" src="../static/img/7531_prev_ui.png" alt="" srcset="">
                </div>

            </div>
        </section>
        <footer style="text-align: center; font-size: 1.5rem; font-weight: 400; color:aliceblue">Made with ❤️ by Dhairya
            Ostwal</footer>
    </div>
</body>

</html>